.signup {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  color: #000 !important;
}

.signup div {
  width: 500px;
  margin: 40px auto;
}

.signup div form {
  padding: 2em;
  background: #b1bdbe;
}

.signup div form h3 {
  color: rgb(43, 41, 41);
}

.signup div form button {
  background-color: #b41616;
  color: #fff;
  transition: ease-in-out 3ms;
}

.signup div form button:hover {
  background-color: #b92727;
  color: #fff;
}

.signup div form input {
  color: #000 !important;
  padding: 2em 0;
}
