link(rel="stylesheet", href="/stylesheets/components/review-modal.css")
.review_modal#reviewModal.modal
    form.review_modal_card.card.hoverable.post-review(data-product-id=`${product.id}`)
        h2.center-align#reviewJob.py-3.is-size-4 Review product
        textarea#review(name="review", cols="30", rows="100", placeholder='Write review')
        input#rating(type="number", name="rating" placeholder='Rate product.')
        button review