link(rel="stylesheet", href="/stylesheets/components/about-section.css")
.row.about-section
    .col.box.s12.l6.m6.text
        h3 About us 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus optio illum repellendus rem sunt sit, id quas. Sapiente culpa reiciendis maxime modi voluptate facere omnis qui distinctio illo id? Minus?
    .col.box.s12.l6.m6.img
        img(src="/images/myhandworkng_home.png", alt="capenter")