link(rel="stylesheet", href="/stylesheets/components/admin-header.css")
div.admin-header
    ul(class='right hide-on-med-and-down')
        li 
            a(href="/")  Settings
        li 
            a(href="#")  My Bookings
        li 
            a(href="#")   My Reviews
        li 
            a(href="#")   Billing
        li 
            a(href="/")  Manage Jobs
        li 
            a(href="#")  Manage Users 
        li 
            a(href="#")   Manage Reviews
        li 
            a(href="#")   Manage Bookings
  