link(rel="stylesheet", href="/stylesheets/components/brands-section.css")
section.row.brands-section
    h3.center-align Brands that trust our services 
    .col.l12
        img(src="/images/bmw.jpeg", alt="brand")
        img(src="/images/coke.png", alt="brand")
        img(src="/images/shell.png", alt="brand")
        img(src="/images/facebook-logo.png", alt="brand")
        img(src="/images/lg.png", alt="brand") 