link(rel="stylesheet", href="/stylesheets/components/categorysection.css")
section.container.category
    .columns 
        .column 
            a(href=`/products?category=choper-burger`) 
                .card.cat_box.is-flex
                    p Burgers.
                    img(src="/img/ui/bug.png", alt="burger")
        .column 
            a(href=`/products?category=choper-shawarma`) 
                .card.cat_box.is-flex
                    p Shawarma.
                    img(src="/img/ui/shawarma.png", alt="shawarma")
        .column 
            a(href=`/products?category=choper-barbecue`) 
                .card.cat_box.is-flex
                    p Chickens.
                    img(src="/img/ui/chicken.png", alt="burger")