link(rel="stylesheet", href="/stylesheets/components/footer.css")
.footer 
    h3.center-align Handyman 
    .box1 
        ul 
            a(href="/") Home  
            a(href="#") How it works 
            a(href="#") Contact 
    .box2 
        ul 
            a(href="https://www.facebook.com") 
                i.fab.fa-facebook.fa-2x 