link(rel="stylesheet", href="/stylesheets/components/footer.css")
.footer
    a(href="/").has-text-white
        h3.my-3.center-align.is-size-3 Choperholics
    .box1 
        ul.is-flex
            a(href="/") Home  
            a(href="/products") Store
            a(href="#") Contact 
    .box2 
        ul 
            