link(rel="stylesheet", href="/stylesheets/components/handyman-header.css")
div.handyman-header
    ul(class='right hide-on-med-and-down')
        li 
            a(href="/")  Settings
        li 
            a(href="#")  My Bookings
        li 
            a(href="#")   My Reviews
        li 
            a(href="#")   Billing

  