link(rel="stylesheet", href="/stylesheets/components/hero.css")
.hero
    div.text.columns
        div.column
            h1.has-text-centered.is-size-1-desktop Delicious meals 
            p.has-text-centered.pt-3
                a(href="/products").hoverable
                    button  shop now
        div.column.is-flex.is-justify-content-center
            img(src="/img/ui/burger.png", alt="bugger").p-3

        