link(rel="stylesheet", href="/stylesheets/components/how-it-works.css")
section.HIWs
    h2.heading how it works
    .row
        .box1.col.s12.l4.m6.card.hoverable
            i.fa.fa-calendar.fa-3x
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, architecto. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto omnis sapiente mollitia dolorem?
        .bokx2.col.s12.l4.m6.card
            i.fa.fa-mobile.fa-3x
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, qui. Facilis consectetur saepe quod illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Id illum ut nulla delectus, non doloribus!
        .box3.col.s12.l4.m6.card.hoverable
            i.fa.fa-user-circle-o.fa-3x
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto incidunt tenetur voluptas a. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque in iste hic placeat beatae.