link(rel="stylesheet", href="/stylesheets/components/how-it-works.css")
section.container.HIWs
    .card.hoverable.box1
        h3 How it works 
        ul 
            p Lorem ipsum dolor sit.
            p Lorem ipsum dolor sit amet.
            p Lorem, ipsum dolor.
            p Lorem ipsum dolor sit.
    .card.hoverable.box2
        h3 How it works 
        ul 
            p Lorem ipsum dolor sit.
            p Lorem ipsum dolor sit amet.
            p Lorem, ipsum dolor.
            p Lorem ipsum dolor sit.