link(rel="stylesheet", href="/stylesheets/components/post-job-section.css")
section.post-job-section.row.container
    .col.s12.m6.l4.text
        h3.center-align Hire a handyman 
        ul 
            p  Post a job
            p Get fast response from certified professionals
            p Handymen you can trust
            p Lorem ipsum dolor sit amet consen......
        p.center-align 
            button.btn.indigo.darken-3 
                a(href="/login") Request a handyman
    .col.s12.m6.l7
        img(src="/images/woodwork.jpg", alt="...")