link(rel="stylesheet", href="/stylesheets/components/reviews.css")
section.reviews.row 
    h3.center-align.py-5 Client reviews
    .box1.col.s12.l4.m4.review_boxes.card.hoverable
        quote
            em Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quos officia atque eos sequi, quisquam deleniti ea illo cupiditate corrupti repudiandae, modi consectetur possimus!
        span 
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
        .details.pt-3
            img(src="/img/ui/person4.jpg", alt="...")
            em - Lorem, ipsum.
    .box2.col.s12.l4.m4.card.hoverable.review_boxes
        quote 
            em Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quos officia atque eos sequi, quisquam deleniti ea illo cupiditate corrupti repudiandae, modi consectetur possimus!
        span 
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
        .details.pt-3
            img(src="/img/ui/person3.jpg", alt="...")
            em - Lorem, ipsum.
    .box3.col.s12.l4.m4.card.hoverable.review_boxes
        quote 
            em Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum quos officia atque eos sequi, quisquam deleniti ea illo cupiditate corrupti repudiandae, modi consectetur possimus!
        span 
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
            i.fa.fa-star.fa-3x
        .details.pt-3
            img(src="/img/ui/person5.jpg", alt="...")
            em - Lorem, ipsum.