link(rel="stylesheet", href="/stylesheets/components/services-section.css")
section.services-section.row.container
    .col.s12.m6.l4.content-box
        h3.center-align Get things done quickly
        div 
            i.fa.fa-fighter-jet.fa-3x 
            p  Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, recusandae?
        div
            i.fa.fa-clock-o.fa-3x 
            p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        div 
            i.fa.fa-telegram.fa-3x  
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, quibusdam.
        div 
            i.fa.fa-handshake-o.fa-3x  
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, aliquid quae!
        p.center-align 
            button.btn 
                a(href="/login") Request a handyman
    .col.s12.m6.l7.image-box
        