link(rel="stylesheet", href="/stylesheets/components/user-settings.css")
.user-settings.row
  .user-settings__form-container.col.s12.m6.l6 
    h2.heading.center-align Your account settings
    
    //- WITHOUT API
    //- form.form.form-user-data(action='/submit-user-data' method='POST' enctype='multipart/form-data')
    
    //- WITH API
    form.card-panel.hoverable.form-user-data
      .form-group
        label(for='name') Name
        input#name(type='text', value=`${user.name}`, required, name='name')
      .form-group
        label(for='email') Email address 
        input#email(type='email', value=`${user.email}`, required, name='email')
      .form__group.form__photo-upload
        img.form__user-photo(src=`/img/user/${user.photo}`, alt='User photo')
        input.form__upload(type='file', accept='image/*', id='photo', name='photo')
        label(for='photo') Choose new photo
        
      .form-group
        button Save settings
        
  .line &nbsp;
  
  .user-settings__form-container.col.s12.m6.l6 
    h2.heading.center-align Password change
    form.form.form-user-password.card-panel.hoverable
      .form-group
        label(for='current-password') Current password
        input#current-password(type='password', placeholder='••••••••', required, minlength='8')
      .form-group
        label(for='password') New password
        input#password(type='password', placeholder='••••••••', required, minlength='8')
      .form-group
        label(for='confirm-password') Confirm password
        input#confirm-password(type='password', placeholder='••••••••', required, minlength='8')
      .form-group
        button.btn--save-password Save password