html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/materialize.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="favicon", href="/favicon.ico")
        script(src='/javascripts/materialize.min.js')
        title Handyman | #{title}
    body(data-alert=`${alert ? alert : ''}`)
        include ./components/header.pug

        block content
            h1 placeholder

        include ./components/footer.pug
        //- script(src="/javascripts/login.js") 
        //- script(src="/javascripts/alert.js") 
        script(src='/javascripts/bundle.js')
        //- script(type='text/javascript'). 
        //-     AOS.init();

        