extends base
block content
    include ./components/hero.pug
    include ./components/how-it-works.pug
    include ./components/about-section.pug
    include ./components/services-section.pug
    include ./components/brands-section.pug
    include ./components/reviews.pug
    