extends base
block content
    include ./components/hero.pug
    include ./components/categorysection.pug
    include ./components/top-products.pug
    include ./components/pick-of-the-day.pug
    include ./components/reviews.pug
    