extends base
block content
    include ./components/hero.pug
    include ./components/about-section.pug
    include ./components/post-job-section.pug
    include ./components/brands-section.pug
    include ./components/paralex.pug
    include ./components/how-it-works.pug