extends base
block content
    link(rel="stylesheet", href="/stylesheets/pages/login.css")
    section.login.row.container
        .col.s12.m6.l4 
            form.form.form--login.card-panel.hoverable
                h3.center-align Login
                input#email(type="text", name="email" placeholder='Email' class='white-text')
                input#password(type="password", name="password" placeholder='Password' class='white-text')
                button.center-align.btn Submit
    