extends base
block content
    link(rel="stylesheet", href="/stylesheets/pages/signup.css")
    section.signup.form-section.row.container
        .col.s12.m6.l4 
            form.signup.card-panel.hoverable
                h3.center-align #{title}
                input#name(type="text", name="name" placeholder='Name')
                input#email(type="text", name="email" placeholder='Email')
                input#password(type='password', name='password', placeholder='Password')
                input#confirmPassword(type='password', name='confirmPassword', placeholder='confirmPassword')
                button.center-align.btn Submit