extends base
block content
    link(rel="stylesheet", href="/stylesheets/pages/signup.css")
    section.signup_sect.form-section.row
        .col.s12.m6.l4
            form.signup.card-panel.hoverable.black-text
                h3.center-align #{title}
                label(for="name") Name 
                input#name(type="text", name="name" placeholder='Name')
                label(for="email") Email
                input#email(type="text", name="email" placeholder='Email')
                label(for="password") Password
                input#password(type='password', name='password', placeholder='Password')
                label(for="confirmPassword") Confirm password
                input#confirmPassword(type='password', name='confirmPassword', placeholder='confirmPassword')
                label(for="phoneNum") Phone Number
                input#phoneNum(type='text', name='phoneNum', placeholder='phone number')
                button.signup_btn.center-align Sign up
            p.center-align Have an account? 
                a(href="/login") Login 