.about-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background: #dc0a0a;
}

.about-section .box {
  padding: 0 3em !important;
}

.about-section .box img {
  width: 100%;
  padding: 2em 0;
}

.about-section .text {
  padding: 0 2em;
  color: #fff;
}

.about-section .img {
  padding: 1em 0;
}
