.reviews {
  padding: 5em 0 5em 0;
  background: url('../../img/ui/tomatos.jpg');
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  /* height: 100%; */
  border: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 0;
}

.reviews h3 {
  text-align: center;
  line-height: 1.5em;
  font-size: 2.5em;
  font-weight: 600;
  background: -webkit-linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
  text-shadow: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.reviews .review_boxes {
  border-radius: 5px;
  padding: 2em;
  color: #000;
  background: rgba(225, 225, 225, 0.1);
  box-shadow: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(225, 225, 225, 0.5);
  border-left: 1px solid rgba(225, 225, 225, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
  height: fit-content !important;
}

.reviews .review_boxes .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews .review_boxes img {
  border-radius: 75%;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.review_boxes em {
  color: rgb(0, 0, 0, 1) !important;
  font-size: 1.1em;
}

.reviews .col {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.reviews .col span {
  font-size: 1.6em;
  display: flex;
  align-self: flex-end;
}

.reviews .col span i {
  font-size: 0.5em;
  color: rgb(238, 255, 0) !important;
}

.reviews .col i {
  font-size: 1.5em;
  background: -webkit-linear-gradient(rgb(255, 230, 0), rgb(255, 230, 0));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: end;
}

.reviews em {
  text-align: end;
}
