.services-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  margin: 0;
}

.services-section div div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.services-section div div i {
  font-size: 2.5em;
  padding: 1em;
}

.services-section .image-box {
  background: url('../../images/plumber.jpg');
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  margin: 0;
}

.services-section div p button {
  background: #dc0a0a;
  height: 60px;
}

.services-section div p button a {
  color: #fff;
}
