.user_header {
  background-color: aliceblue !important;
  margin-bottom: 0 !important;
}

nav div .user-options-trigger {
  float: right;
}

nav .sidenav {
  right: 0 !important;
}

.user-navbar a span {
  font-size: 2.5em;
  color: #fff;
}

.user-navbar {
  background: -webkit-linear-gradient(45deg, #bbdfee, #e9e5bd);
}

.navbar ul li {
  cursor: pointer !important;
}
