.user-settings {
  background-attachment: fixed;
  background-position: center;
  background-attachment: fixed;
  border: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  margin-bottom: 0;
}

.user-settings__form-container {
  /* max-width: 68rem; */
  margin: 0 auto;
  padding: 0 8rem;
}

.user-settings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.user-settings div {
  width: 100%;
}

.user-settings div form {
  padding: 2em;
  border-radius: 5px;
  color: #fff;
  background: rgba(225, 225, 225, 0.1);
  box-shadow: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(225, 225, 225, 0.5);
  border-left: 1px solid rgba(225, 225, 225, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.user-settings div h2 {
  font-size: 2.5em;
  color: #fff;
  padding: 1em 0 0.7em 0;
  font-weight: 400;
  background: -webkit-linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 100;
  text-shadow: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}

.user-settings div form label {
  background: -webkit-linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user-settings div form input {
  background: -webkit-linear-gradient(rgb(0, 0, 0, 1), rgb(0, 0, 0, 1));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2em 0;
}
