.user-settings {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 2em 0;
}
.user-settings__form-container {
  /* max-width: 68rem; */
  margin: 0 auto;
  padding: 0 8rem;
}

.user-settings {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.user-settings div {
  width: 100%;
}

.user-settings div form {
  padding: 2em;
  background: #b1bdbe;
}

.user-settings div h2 {
  color: #000;
}

.user-settings div form label {
  padding: 0;
  color: #000;
}
.user-settings div form button {
  background-color: #b41616;
  color: #fff;
  transition: ease-in-out 3ms;
}

.user-settings div form button:hover {
  background-color: #b92727;
  color: #fff;
}

.user-settings div form input {
  color: #000;
  padding: 2em 0;
}
